 <mat-card-content>
<div class="container">
    <h1>Welcome to Email Sender App</h1>
<!-- <a routerLink ="/sendEmail" mat-flat-button color="accent" (click)="btnClick()"> Send Email</a>  -->
 <a routerLink ="/sendEmail" mat-flat-button color="accent" > Send Email</a>
 <!-- <a routerLink ="/login" mat-flat-button color="warn" > Click here to log in</a>  -->
 <button   button="submit" mat-raised-button matTooltip="Info about the action"  aria-label="Button that displays a tooltip when focused or hovered over" color="primary" (click)="openDialog()">
    <mat-icon>add</mat-icon> Add Post
  </button>
</div>

</mat-card-content>
<!-- <div class="bootsrap-wrapper">
  <div class=container>
    <h1>welcome to login page.</h1>
  </div>
</div> -->


