.card{
  border: 5px solid #0f9dc0;
  border-radius: 3px !important;
  width: 40%;
  margin: calc(30px);
  margin-left: 30%;
  background-image: url(/assets/photo.jpg);
  padding: 10px !important;
  /* background-color:rgb(16, 167, 66); */
}
.full-width{
      width: 100%
}


   



  