<mat-card-content>
       <!-- <div mat-card-avatar class="example-header-image">
           <mat-icon>add</mat-icon>
       </div> -->
       <mat-card-header>
           <H1>THIS IS HEADER</H1>
       </mat-card-header>
        <mat-card-title>Medical Care</mat-card-title>
        <mat-card-subtitle>Health Care</mat-card-subtitle>
        <div class="centered">Centered
            <mat-card>
                <mat-card-content>
                    <h1>THIS IS RAGHAV</h1>
                </mat-card-content>
                </mat-card>
        </div>
         <img mat-card-image src="assets/20593.jpg" alt="medial photo">
    <p>
        Medical websites are becoming more than just a place to introduce your staff and show your 
        phone number and location. Medical website content is a way to connect with your current 
        patients and speak to potential patients. Medical websites with more content also have a 
        better chance to rank higher in search engine results against their competitors.
        Because of the way search algorithms such as Google work, websites with more relevant
         content are labeled as reliable and therefore come up higher in search rankings, 
         allowing potential helps patients who are searching for specific terms to see your practice 
         first over your competitors.
    </p>
    <mat-card-footer>
        <H1>THIS IS HEADER</H1>
    </mat-card-footer>
</mat-card-content>

<!-- <img class="fullBg" [src]="page.image"> -->

